<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles/mainPopup.css">
    </head>
    <body>
        <div id="main_container">
            <div id="header_container">
                <button id="settings_btn">Settings</button>
            </div>

            <div id="translate_area_container">
                <textarea name="translate_area" id="translate_area" cols="30" rows="10" placeholder="Feel free to write here..."></textarea>
                <button id="translate_action">Translate</button>
            </div>

            <div id="status_bar_container">
                <p id="translations_results"></p>
            </div>
            
            <div id="footer_container">
                <button id="daily_plactice_action">Daily Practice</button>
            </div>
        </div>
    </body>
</html>